{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="create-profile-container">
    <h1>Create New Profile</h1>
    <form method="post" enctype="multipart/form-data" novalidate action="{% url 'Create_new' %}">
        {% csrf_token %}
        <div class="row">
            {% for field in form.visible_fields %}
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
        
        <!-- Button -->
        <div class="row mt-3">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success w-100">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
