{% extends "index.html" %}
</br>
{% block content %}

<div class="container pt-5">
    <h1 style="color:green;"> Create New profile</h1>
    <br/>
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{field.label}}</label>
                {{field}}
                {% for error in field.errors %}
                    <span class="help-block" style="color:red">{{error}}</span>
                {% endfor %}
                
            </div>
        {% endfor %}
        <div class=" mt-3">
            <button type="submit" class="btn btn-success">Submit</button>
            <a href="{% url 'detail_list' %}" class="btn btn-outline-secondary">Home</a>
           
        </div>
    </form>
</div>
{% endblock content %}