<!doctype html>
{% load static%}
<html lang="en">
  
  <style>
    .card-img-top {
    
      width: 100%;
      height: 300px;
      border-radius: 40px ;
  }
  
  </style>
    
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>crud operation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    
  </head>
  <body>
    <header>
    <nav class="navbar bg-info  fixed-top ">
        <div class="container-fluid ">
           
          <a class="navbar-brand" href="#">
            <img src="{% static 'images/bulllogo.png' %}" width='40'>
            <b>Crud</b>it</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><b>Crud</b>it</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'detail_list' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'form_page' %}">Create</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    

 <!-- Second div content -->
 <div class="mt-5 pt-5 row d-flex justify-content-center">
  <!--Create Button-->
  <div class="container mt-3  d-flex justify-content-end pr-3 ">
    <a class="btn btn-outline-secondary" href="{% url 'form_page' %}">Create</a>
  </div>
  {% for item in Details_List %}
  <div class="card col-sm-6" style="width: 18rem; margin: 10px;">
      <img src="{% if item.images %}{{ item.images.url }}{% else %}{% static 'images/placeholder.jpg' %}{% endif %}" class="card-img-top" alt="...">
      <div class="card-body mb-4">
          <h5 class="card-title">{{ item.first_name }} {{ item.last_name }}</h5>

         
                  

                  <table>
                    <tbody>
                        <tr>
                            <td>AGE</td>
                            <td>: {{ item.age }}</td>
                        </tr>
                        <tr>
                            <td>PHONE</td>
                            <td>: {{ item.phone }}</td>
                        </tr>
                        <tr>
                            <td>ADDRESS</td>
                            <td>: {{ item.address }}</td>
                        </tr>
                        <tr>
                            <td>EMAIL</td>
                            <td>: {{ item.gmail }}</td>
                        </tr>
                    </tbody>
                </table>

              </ul>
          
           <!-- Dropdown inside the card -->
           <ul class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Advanced</b>
            </a>
            <ul class="dropdown-menu text-center"  style="top: auto; bottom: 0;">


                <!--Redirect to update form page-->
                <tr>
                <td><a href="{% url 'edits'   pk=item.pk %}" class="btn btn-info">Edit</a></td>
                <!--Redirect to delete.html page-->
                 <td><a href="{% url 'delete'   pk=item.pk %}" class="btn btn-danger">Delete</a></td>
                </tr>
            </ul>
                <!-- End of dropdown -->
              </ul>
              </div>
            </div>           
            {% endfor %}
          
      </div>
      
      
       
    
    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
{% block content %}
{% endblock content %}

</html>